<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookManagerAppMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookManagerAppMVC.styles.css" asp-append-version="true" />
</head>
<body>



    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">図書管理アプリ</a>
                
                <div class="item_hover">
                    <a class="navbar-brand" asp-area="">@Context.User.Identity.Name <img src="~/images/user_icon.png" alt="ユーザーアイコン" height="30" width="30" /></a>
                    <ul class="dropdown_lists">
                        <li class="dropdown_list"><a asp-area="" asp-controller="Home" asp-action="Logout">ログアウト</a></li>
                    </ul>
                </div>
                
            </div>
        </nav>
    </header>

    <article>

    <!-- Sidebar -->
    <div class="navbar-nav bg-gradient-imagecolor sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <div class="sidebar-brand d-flex align-items-center justify-content-center" style="cursor:pointer"
             title="Home" onclick="location.href='@Url.Action("Index", "Books")'; return false; ">
            <div class="sidebar-brand-text mx-3">
                    図書管理アプリ
            </div>
        </div>


        <!-- Divider -->
        <hr class="sidebar-divider">
        <a class="collapse-item color-white" asp-area="" asp-controller="Books" asp-action="FindBooks">
            図書検索
        </a>

        <a class="collapse-item color-white" asp-area="" asp-controller="Books" asp-action="Create">
            図書登録
        </a>



        

    </div>
    <!-- End of Sidebar -->
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>
    </article>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BookManagerAppMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function deleteBooks() {
            $(document).on('click', '.button_for_openmodal', function () {
                var url = $(this).data('url');
                var id = $(this).attr('data-id');
                $.ajax({
                    url: url + '/' + id,
                    type: 'get',
                    cache: false,
                })
                    .done(function (response) {
                        $("#ModalHere").html(response);
                        $("#ModalHere").find('.modal').modal('show');
                    })
                    .fail(function (xhr) {
                        console.log(xhr);
                    })
                    .always(function (xhr, msg) {
                        console.log(xhr, msg);
                    });
            });
        }

        </script>
    <script>
        $(document).ready(function () {

            deleteBooks();
            $("#findButton").on("click", function () {

                var title = $("#title").val();
                var author = $("#author").val();
                var publisher = $("#publisher").val();
                var url = $(this).data('url');

                var data = {};
                data.title = title;
                data.author = author;
                data.publisher = publisher;

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: data,
                    dataType: 'json'
                })
                    .done(function (books) {
                        console.log(books);
                        const len = books.length;
                        let html = ``;
                        for (let i = 0; i < len; i++) {
                            let registDate = new Date(books[i].registDate).toLocaleString(
                                undefined,
                                {
                                    year: 'numeric',
                                    month: '2-digit',
                                    day: '2-digit',
                                    hour: '2-digit',
                                    minute: '2-digit',
                                    second: '2-digit',
                                }
                            );
                            let updateDate = "";
                            if(books[i].updateDate != null){
                                updateDate = new Date(books[i].updateDate).toLocaleString(
                                    undefined,
                                    {
                                        year: 'numeric',
                                        month: '2-digit',
                                        day: '2-digit',
                                        hour: '2-digit',
                                        minute: '2-digit',
                                        second: '2-digit',
                                    }
                                );
                            }
                            html += `<tr>
                                                        <td class="center">
                                                            <a href="book-manager-app/Books/Edit/${books[i].bookId}" class="btn btn-primary">編集</a>
                                                        </td>
                                                        <td class="center">
                                                            <button type="button" class="btn btn-danger button_for_openmodal" data-id="${books[i].bookId}" data-url="@Url.Action("ShowModal")">削除</button>
                                                        </td>
                                                        <td>
                                                            <a href="book-manager-app/Books/Details/${books[i].bookId}">${books[i].title}</a>
                                                        </td>
                                                        <td>
                                                            ${books[i].author}
                                                        </td>
                                                        <td>
                                                            ${books[i].publisher}
                                                        </td>
                                                        <td>
                                                            ${registDate}
                                                        </td>
                                                        <td>
                                                            ${books[i].registUser}
                                                        </td>
                                                        <td>
                                                            ${updateDate}
                                                        </td>
                                                        <td>
                                                            ${books[i].updateUser}
                                                        </td>
                                                    </tr>
                                                            `;
                            console.log(registDate);
                        }
                        console.log(html);
                        $("#find-table").empty().append(html);
                    })
                    .fail(function (table) {
                        console.log(data);
                        console.log(table);
                        console.log("error");
                    });
            });
        });
   
        function FindBooks() {
        }


        

    </script>
   @*  <!--jQuery（動的）のバリデーション↓-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script> *@
    <!--jQuery（動的）のバリデーション↑-->
    @* <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> *@

    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
