@model IEnumerable<BookManagerAppMVC.Models.Book>

@{
    ViewData["Title"] = "FindBooks";
}

<h1>図書検索</h1>

<h4>登録済みの図書を検索できます。</h4>
<hr />

    <div class="row">
        <div class="row mb-3">
            <label class="label01 col-sm-1 col-form-label">書籍名</label>
            <div class="col-sm-3">
            <input type="text" name="title" class="form-control" id="title"/>
            </div>
        </div>
        <div class="row mb-3">
           <label class="label01 col-sm-1 col-form-label">著者</label>
           <div class="col-sm-3">
                <input type="text" name="author" class="form-control" id="author"/>
           </div>
        </div>
        <div class="row mb-3">
            <label class="label01 col-sm-1 col-form-label">出版社</label>
            <div class="col-sm-3">
                <input type="text" name="publisher" class="form-control" id="publisher"/>
            </div>
            <button  value="検索" class="btn btn-primary col-sm-1" id="findButton">検索</button>
        </div>
    </div>

<table class="table">
    <thead>
        <tr>
            <th class="center">編集</th>
            <th class="center">削除</th>
            <th>書籍名</th>
            <th>著者</th>
            <th>出版社</th>
            <th>登録日時</th>
            <th>登録ユーザー</th>
            <th>更新日時</th>
            <th>更新ユーザー</th>

        </tr>
    </thead>
    <tbody id="find-table">
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-primary">編集</a>
                </td>
                <td class="center">
                    <button type="button" class="btn btn-danger button_for_openmodal" data-id="@item.BookId" data-url="@Url.Action("ShowModal")">削除</button>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BookId">@item.Title</a>
                </td>
                <td>
                    @item.Author
                </td>
                <td>
                    @item.Publisher
                </td>
                <td>
                    @item.RegistDate
                </td>
                <td>
                    @item.RegistUser
                </td>
                <td>
                    @item.UpdateDate
                </td>
                <td>
                    @item.UpdateUser
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="ModalHere">

</div>


